@import 'styles/variables.scss';

.App {
  margin: 10px;
}

input {
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 400px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
